@import "reset";
$basecolor: #1083cd;
@mixin transition{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
@mixin opacity($opac, $alpha){
	opacity: $opac;
	filter: alpha(opacity=$alpha);
}
@font-face{
	font-family: 'century gothic';
	src: url("../lib/GOTHIC.TTF");
	font-weight: normal;
}
@font-face{
	font-family: 'century gothic';
	src: url("../lib/GOTHICB.TTF");
	font-weight: bold;
}
#wrapper{
	width: 1100px;
	background: #fff;
	margin: 0 auto;
	.btn-back{
		position: fixed;
		bottom: 10px;
		right: 20px;
	}
}
#header{
	overflow: hidden;
	/*.header-fix{
		overflow: hidden;
		position: fixed;
		top: 0;
		background: #fff;
		z-index: 999;
		border-bottom: 3px solid #eae6e6;
	}*/
	h1{
		float: left;
		width: 317px;
		height: 127px;
		margin: 22px 0 16px 47px;
	}
	.navigation{
		float: left;
		width: 696px;
		height: 127px;
		margin: 40px 40px 0 0;
		text-align: right;
	}
	.social-nav{
		overflow: hidden;
		float: right;
		width: 696px;
		margin-bottom: 35px;
		li{
			float: right;
			padding-left: 4px;
		}
	}
	.main-nav{
		float: right;
		li{
			float: left;
			min-width: 102px;
			> a{
				color: #112255;
				font-size: 17px;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
				@include transition;
				&:hover{
					color: $basecolor;
				}
			}
		}
	}
}
.mail{
	display: block;
	width: 34px;
	height: 34px;
	@include transition;
	background: url(../images/icon-social-34x34.png) no-repeat 0 0;
	&:hover{
		@include opacity(0.7, 70);
	}
}
.twiter{
	@extend .mail;
	background: url(../images/icon-social-34x34.png) no-repeat -34px 0;
}
.google{
	@extend .mail;
	background: url(../images/icon-social-34x34.png) no-repeat -34*2px 0;
}
.facebook{
	@extend .mail;
	background: url(../images/icon-social-34x34.png) no-repeat -34*3px 0;
}
#content{
	//padding-top: 167px;
	.banner{
		width: 1100px;
		height: 424px;
		position: relative;
		background: url("../images/banner.png") no-repeat;
		> a{
			bottom: 54px;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			left: 475px;
			position: absolute;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	h2{
		text-align: center;
		font-size: 75px;
		font-weight: normal;
		color: #0b2351;
		margin: 20px 0;
		span{
			color: $basecolor;
		}
	}
	p{
		font-size: 16px;
		color: #4c4e4f;
		margin-bottom: 25px;
		text-align: justify;
		width: 984px;
	}
}
#our-services{
	margin: 0 55px 75px;
	h3{
		font-size: 39px;
		font-weight: normal;
		color: $basecolor;
		margin-bottom: 10px;
	}
	.last-paragraph{
		margin-bottom: 50px;
	}
}
#our-clients{
	margin: 0 25px;
	padding: 35px 0;
	border-top: 1px solid #4c4e4f;
	border-bottom: 1px solid #4c4e4f;
}
#audio{
	margin: 55px 0 100px;
	.jukebox-audio{
		margin: 0 auto;
		width: 980px;
		height: 455px;
		line-height: 455px;
		text-align: center;
		border: 3px solid #000;
		> a{
			font-size: 40px;
			color: #000;
		}
	}
}
#videos{
	margin: 0 25px;
	padding: 35px 0 15px;;
	border-top: 1px solid #4c4e4f;
	text-align: center;
	.videos-content{
		width: 906px;
		margin: 0 auto;
		overflow: hidden;
		padding-left: 12px;
	}
	.videos-demo{
		float: left;
		width: 437px;
		height: 340px;
		border: 1px solid #c1bcbc;
		position: relative;
		margin: 0 12px 12px 0;
		img{
			margin: 15px auto;
			cursor: pointer;
			@include transition;
		}
		> a{
			width: 131px;
			height: 131px;
			display: block;
			background: url("../images/btn-play.png") 0 0 no-repeat;
			position: absolute;
			top: 22%;
			left: 33%;
			&:hover{
				background: url("../images/btn-play.png") 0 -131px no-repeat;
			}
		}
		p{
			font-size: 29px;
			margin: 0;
			padding-left: 15px;
			width: 90%;
		}
	}
	>.loadmore{
		margin: 15px auto 0;
		width: 906px;
		height: 54px;
		line-height: 54px;
		background: #c8c2c2;
		font-size: 25px;
		color: #4c4e4f;
		text-align: center;
		display: block;
		&:hover{
			color: $basecolor;
		}
	}
}
#contact{
	margin: 0 auto;
	overflow: hidden;
	width: 906px;
	h2{
		display: inline-block;
		text-align: left;
		width: 745px;
	}
	.contact-social-nav{
		overflow: hidden;
		display: inline-block;
		width: 155px;
		li{
			float: right;
			padding-left: 4px;
		}
	}
	p{
		font-size: 25px;
		margin-bottom: 40px;
		span{
			display: block;
			color: $basecolor;
		}
	}
}