/*reset css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-weight: normal;
  font-family: 'century gothic', sans-serif;
  background: #222222;
}

a {
  cursor: pointer;
}

ol, ul, li {
  list-style: none outside none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: bold;
}

.clear {
  clear: both;
}

/****end reset****/
@font-face {
  font-family: 'century gothic';
  src: url("../lib/GOTHIC.TTF");
  font-weight: normal;
}
@font-face {
  font-family: 'century gothic';
  src: url("../lib/GOTHICB.TTF");
  font-weight: bold;
}
#wrapper {
  width: 1100px;
  background: #fff;
  margin: 0 auto;
}
#wrapper .btn-back {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

#header {
  overflow: hidden;
  /*.header-fix{
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	background: #fff;
  	z-index: 999;
  	border-bottom: 3px solid #eae6e6;
  }*/
}
#header h1 {
  float: left;
  width: 317px;
  height: 127px;
  margin: 22px 0 16px 47px;
}
#header .navigation {
  float: left;
  width: 696px;
  height: 127px;
  margin: 40px 40px 0 0;
  text-align: right;
}
#header .social-nav {
  overflow: hidden;
  float: right;
  width: 696px;
  margin-bottom: 35px;
}
#header .social-nav li {
  float: right;
  padding-left: 4px;
}
#header .main-nav {
  float: right;
}
#header .main-nav li {
  float: left;
  min-width: 102px;
}
#header .main-nav li > a {
  color: #112255;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#header .main-nav li > a:hover {
  color: #1083cd;
}

.mail, .twiter, .google, .facebook {
  display: block;
  width: 34px;
  height: 34px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  background: url(../images/icon-social-34x34.png) no-repeat 0 0;
}
.mail:hover, .twiter:hover, .google:hover, .facebook:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.twiter {
  background: url(../images/icon-social-34x34.png) no-repeat -34px 0;
}

.google {
  background: url(../images/icon-social-34x34.png) no-repeat -68px 0;
}

.facebook {
  background: url(../images/icon-social-34x34.png) no-repeat -102px 0;
}

#content .banner {
  width: 1100px;
  height: 424px;
  position: relative;
  background: url("../images/banner.png") no-repeat;
}
#content .banner > a {
  bottom: 54px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  left: 475px;
  position: absolute;
  text-decoration: none;
}
#content .banner > a:hover {
  text-decoration: underline;
}
#content h2 {
  text-align: center;
  font-size: 75px;
  font-weight: normal;
  color: #0b2351;
  margin: 20px 0;
}
#content h2 span {
  color: #1083cd;
}
#content p {
  font-size: 16px;
  color: #4c4e4f;
  margin-bottom: 25px;
  text-align: justify;
  width: 984px;
}

#our-services {
  margin: 0 55px 75px;
}
#our-services h3 {
  font-size: 39px;
  font-weight: normal;
  color: #1083cd;
  margin-bottom: 10px;
}
#our-services .last-paragraph {
  margin-bottom: 50px;
}

#our-clients {
  margin: 0 25px;
  padding: 35px 0;
  border-top: 1px solid #4c4e4f;
  border-bottom: 1px solid #4c4e4f;
}

#audio {
  margin: 55px 0 100px;
}
#audio .jukebox-audio {
  margin: 0 auto;
  width: 980px;
  height: 455px;
  line-height: 455px;
  text-align: center;
  border: 3px solid #000;
}
#audio .jukebox-audio > a {
  font-size: 40px;
  color: #000;
}

#videos {
  margin: 0 25px;
  padding: 35px 0 15px;
  border-top: 1px solid #4c4e4f;
  text-align: center;
}
#videos .videos-content {
  width: 906px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 12px;
}
#videos .videos-demo {
  float: left;
  width: 437px;
  height: 340px;
  border: 1px solid #c1bcbc;
  position: relative;
  margin: 0 12px 12px 0;
}
#videos .videos-demo img {
  margin: 15px auto;
  cursor: pointer;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#videos .videos-demo > a {
  width: 131px;
  height: 131px;
  display: block;
  background: url("../images/btn-play.png") 0 0 no-repeat;
  position: absolute;
  top: 22%;
  left: 33%;
}
#videos .videos-demo > a:hover {
  background: url("../images/btn-play.png") 0 -131px no-repeat;
}
#videos .videos-demo p {
  font-size: 29px;
  margin: 0;
  padding-left: 15px;
  width: 90%;
}
#videos > .loadmore {
  margin: 15px auto 0;
  width: 906px;
  height: 54px;
  line-height: 54px;
  background: #c8c2c2;
  font-size: 25px;
  color: #4c4e4f;
  text-align: center;
  display: block;
}
#videos > .loadmore:hover {
  color: #1083cd;
}

#contact {
  margin: 0 auto;
  overflow: hidden;
  width: 906px;
}
#contact h2 {
  display: inline-block;
  text-align: left;
  width: 745px;
}
#contact .contact-social-nav {
  overflow: hidden;
  display: inline-block;
  width: 155px;
}
#contact .contact-social-nav li {
  float: right;
  padding-left: 4px;
}
#contact p {
  font-size: 25px;
  margin-bottom: 40px;
}
#contact p span {
  display: block;
  color: #1083cd;
}
