/****reset css****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "neo-san", sans-serif;
  font-weight: normal;
  background: url("../images/bg.jpg");
}

a {
  cursor: pointer;
}

ol, ul, li {
  list-style: none outside none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: bold;
}

.clear {
  clear: both;
}

/****end reset****/
.opacity, .dialog-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.opacity {
  background: rgba(255, 255, 255, 0.7);
  display: block;
}

.dialog-box {
  width: 100%;
  height: 730px;
  margin: auto;
}

.close {
  background: url("../images/bg-start.png") no-repeat;
  width: 604px;
  height: 105px;
  line-height: 105px;
  text-align: center;
  margin: 0 auto 20px;
  padding-right: 75px;
}
.close > a {
  font-size: 39px;
  font-weight: bold;
  color: #6d371a;
  background: url("../images/icon-start.png") no-repeat 100px 15px;
  padding-right: 50px;
  margin-left: 200px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.close > a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.dialog-content {
  width: 100%;
  height: 580px;
  background-color: #3c271d;
  background-image: url("../images/bg-ruler.png");
  background-repeat: repeat-x;
  border-bottom: 15px solid #20120b;
  overflow: hidden;
}
.dialog-content .dialog-tab {
  margin: 75px 150px 0 145px;
  float: left;
}
.dialog-content .dialog-tab > li {
  display: block;
  width: 190px;
  height: 60px;
  line-height: 52px;
  background: #3c271d;
  border: 3px solid #f6f0e0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-raidus: 7px;
  -o-border-radius: 7px;
  margin-bottom: 25px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.dialog-content .dialog-tab > li > a {
  color: #f6f0e0;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}
.dialog-content .dialog-tab > li:hover {
  background: #27170f;
}
.dialog-content .dialog-tab .active-tab {
  background: #27170f;
}

.dialog-tab-content {
  float: left;
  margin: 65px 0;
}

.tab-1 {
  width: 600px;
  height: 470px;
  background: url("../images/img-enverlop.png") no-repeat 0 0;
  position: relative;
}
.tab-1 .letter {
  background: #f6efdf;
  width: 300px;
  height: 380px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-raidus: 2px;
  -o-border-radius: 2px;
  position: absolute;
  top: 45px;
  left: 225px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.tab-1 .letter h2 {
  color: #3c271d;
  margin: 25px 15px;
  font-size: 16px;
  font-weight: bold;
}
.tab-1 .letter p {
  margin: 15px;
  font-size: 15px;
  color: #3c271d;
  text-align: justify;
}

.tab-2 {
  visibility: visible;
  width: 600px;
  height: 470px;
  margin-top: 40px;
}
.tab-2 .slide-wrap {
  background: url("../images/img-destop.png") no-repeat;
  width: 493px;
  height: 341px;
  margin-left: 90px;
}
.tab-2 .slide-1, .tab-2 .slide-2 {
  width: 455px;
  height: 255px;
  color: royalblue;
}
.tab-2 .slide-2 {
  color: blue;
}

.tab-3 {
  display: none;
  width: 600px;
  height: 470px;
}
.tab-3 .form-content {
  width: 465px;
  text-align: right;
  margin: 15px 0 0 107px;
}
.tab-3 .form-content input[type="text"] {
  width: 420px;
  height: 40px;
  background-color: #f8f2e2;
  border: medium none;
  display: block;
  margin-bottom: 30px;
  color: #3c271d;
  padding-left: 45px;
  font-size: 18px;
}
.tab-3 .form-content .form-name {
  background-image: url("../images/icon-contact-name.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
.tab-3 .form-content .form-phone {
  background-image: url("../images/icon-contact-phone.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
.tab-3 .form-content .form-email {
  background-image: url("../images/icon-contact-mail.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
.tab-3 .form-content .form-message {
  background-image: url("../images/icon-contact-mess.png");
  background-repeat: no-repeat;
  background-position: 10px 5px;
}
.tab-3 .form-content textarea {
  width: 420px;
  height: 150px;
  background-color: #f8f2e2;
  border: medium none;
  margin-bottom: 30px;
  color: #3c271d;
  padding: 10px 0 0 45px;
  font-size: 18px;
}
.tab-3 .form-content input[type="submit"] {
  width: 100px;
  height: 40px;
  background-color: #f8f2e2;
  border: medium none;
  color: #3c271d;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.tab-3 .form-content input[type="submit"]:hover {
  background-color: #50372b;
  color: #ad998f;
}

@font-face {
  font-family: "neo-san";
  src: url("../UTM Neo Sans Intel.ttf");
}
@font-face {
  font-family: "neo-san";
  src: url("../UTM Neo Sans IntelBold.ttf");
  font-weight: bold;
}
#wrapper {
  width: 100%;
}

#header {
  width: 100%;
  height: 400px;
  margin: auto;
}
#header .main-head {
  overflow: hidden;
}
#header .logo-test-responsive {
  margin: 47px 0 0 15px;
  float: left;
}
#header .social {
  margin: 25px 6px;
  float: right;
}
#header .social .facebook, #header .social .returndialog, #header .social .google-plus, #header .social .twiter, #header .social .donate {
  float: left;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  background: url(../images/icon-social-44x44.png) no-repeat 0 0;
}
#header .social .facebook:hover, #header .social .returndialog:hover, #header .social .google-plus:hover, #header .social .twiter:hover, #header .social .donate:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#header .social .returndialog {
  background: url(../images/icon-dialog-44x44.png) no-repeat;
}
#header .social .google-plus {
  background: url(../images/icon-social-44x44.png) no-repeat -44px 0;
}
#header .social .twiter {
  background: url(../images/icon-social-44x44.png) no-repeat -88px 0;
}
#header .social .donate {
  background: url(../images/icon-donate-44x44.png) no-repeat;
}
#header .logo-easynfast {
  margin: 25px 0;
  float: right;
}
#header .search-box {
  position: relative;
  left: 330px;
  bottom: 185px;
  display: inline;
}
#header .search-box > input[type="text"] {
  width: 600px;
  height: 50px;
  background-color: #e6b576;
  border: medium none;
  color: #fff;
  font-size: 22px;
  padding-left: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-raidus: 4px;
  -o-border-radius: 4px;
}
#header .search-box > input[type="submit"] {
  background: url("../images/icon-view.png") no-repeat;
  width: 90px;
  height: 67px;
  border: medium none;
  cursor: pointer;
  font-size: 0;
  position: relative;
  top: 7px;
  left: 20px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#header .search-box > input[type="submit"]:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#content {
  width: 100%;
}

.device-wrap {
  width: 100%;
  height: 70px;
  background-color: #edc38c;
  border-top: 10px solid #e6b576;
}
.device-wrap .device-thumb {
  height: 70px;
  width: 996px;
  margin: 0 auto;
}
.device-wrap .device-thumb li {
  width: 56px;
  height: 59px;
  cursor: pointer;
  opacity: 0.3;
  filter: alpha(opacity=30);
  margin: 6px 55px;
  float: left;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.device-wrap .device-thumb li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.device-wrap .device-thumb #screen-1600 {
  background: url("../images/icon-mobile-56x59.png") no-repeat 0 0;
}
.device-wrap .device-thumb #screen-1366 {
  background: url("../images/icon-mobile-56x59.png") no-repeat -56px 0;
}
.device-wrap .device-thumb #screen-1024 {
  background: url("../images/icon-mobile-56x59.png") no-repeat -112px 0;
}
.device-wrap .device-thumb #screen-768 {
  background: url("../images/icon-mobile-56x59.png") no-repeat -168px 0;
}
.device-wrap .device-thumb #screen-480 {
  background: url("../images/icon-mobile-56x59.png") no-repeat -224px 0;
}
.device-wrap .device-thumb #screen-320 {
  background: url("../images/icon-mobile-56x59.png") no-repeat -280px 0;
}
.device-wrap .device-thumb .active {
  opacity: 1;
  filter: alpha(opacity=100);
}

.screen-display {
  width: 100%;
  min-height: 620px;
  padding: 100px 0 80px;
  background-color: #3c271d;
  background-image: url("../images/bg-ruler.png");
  background-repeat: repeat-x;
  border-bottom: 20px solid #20120b;
  overflow: auto;
}
.screen-display li {
  display: none;
}
.screen-display .display-1600 {
  background: #000;
  width: 1600px;
  height: 900px;
  margin: 0 auto;
}
.screen-display .display-1366 {
  background: #000;
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
.screen-display .display-1024 {
  background: url("../images/screen-1024.png") no-repeat;
  width: 1251px;
  height: 915px;
  margin: 0 auto;
  display: block;
}
.screen-display .display-768 {
  background: url("../images/screen-768.png") no-repeat;
  width: 905px;
  height: 1237px;
  margin: 0 auto;
}
.screen-display .display-480 {
  background: url("../images/screen-480.png") no-repeat;
  width: 658px;
  height: 349px;
  margin: 95px auto 0;
}
.screen-display .display-320 {
  background: url("../images/screen-320.png") no-repeat;
  width: 385px;
  height: 726px;
  margin: 0 auto;
}

#footer {
  text-align: center;
  height: 100px;
}
#footer .copyright {
  margin-top: 15px;
}
#footer .copyright > a {
  font-size: 33px;
  font-weight: bold;
  color: #20120b;
  text-decoration: none;
  letter-spacing: 8px;
}
#footer .copyright > p {
  font-size: 15px;
  color: #20120b;
  letter-spacing: .7px;
}
